- index_path = caminho_modelo(:index)
.gray_border.with_margin_bottom
  %h1= t("#{@model_presenter.model_name}.editar.novo")
.action_back
  - # TODO add buttons to the form in presenter
  = link_to t('back'), index_path, class: 'back_link' if @model_presenter
= render '/carnival/shared/form/form', button: t('create'), model_object: @model, action: :new
