- index_path = caminho_modelo(:index)
- item = instance_variable_get("@#{controller_name.classify.downcase}")
.gray_border.with_margin_bottom
  %h1= t("#{@model_presenter.model_name}.exibir")
.action_back
  = link_to t('back'), index_path, class: 'back_link'

.show-content
  - @model_presenter.form_for(:show).lines.each do |line|
    .row
      - line.each do |field|
        .wrapper_show{class: "col-md-#{field.size}"}
          %label="#{t("#{controller_name.classify.downcase}.#{field.name}")}:"
          .value
            = field_to_show @model_presenter,field.name,item

