.gray_border.with_margin_bottom
  %h1= t('admin_users.admin')

.action_back
  = link_to t('back'), admin_admin_users_path, :class => 'back_link'


  .field
    %label= "#{t('admin_user.name')}:"
    ="#{@admin_user.name}"

  .field
    %label= "#{t('admin_user.email')}:"
    ="#{@admin_user.email}"
