*{outline:none;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body, html{
  margin:0;
  padding:0;
  font-size:14px;
  line-height:22px;
  color:#666;
  overflow-x:hidden;
  font-family: 'OpenSansRegular', sans-serif;
  overflow-y: auto !important;
  height: 100%;
}

li{list-style: none;}
a{color:#666; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
#main{width: 100%; height: 100%;}

#application-popup{
  position: fixed;
  z-index: 15;
  top: 130px;
  width: 415px;
  left: 50%;
  margin-left: -205px;
  display:none;
}

#application-popup input[type="submit"]{
  width: auto !important;
  cursor: pointer !important;
  display: inline-block;
  font-weight: bold;
  height: 28px !important;
  text-align: center;
  background: url('calendar.png') 20px -38px;
  border: 1px solid #2a6198;
  cursor: pointer;
  font-size: 17px;
  border-radius: 1px;
  box-shadow: none;
  font-family: 'microsoft_yi_baitiregular';
  padding: 3px 10px 6px 10px !important;
  border: 1px solid #C8C8C8;
  padding: 5px 16px 5px 16px;
  height: 30px;
  background: url(bg_button.png);
  color: #333;
  -webkit-box-shadow: 0px 1px 0px 0px white;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin-right: 0px;
  box-shadow: none;
}
.close-popup{
  text-align: center;
  width: 57px;
  right: 0px;
  background: #555;
  color: #fff;
  padding: 2px;
  position: absolute;
  right: -21px;
  z-index: 99;
  border-bottom-left-radius: 3px;
  cursor:pointer;
  border-top-right-radius: 3px;
}

#application-popup-content{
  background: white;
  padding: 10px;
  border: solid 1px #c0c0c0;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding-bottom:35px;
}

#mark-as-fraudulent-popup{
  height: 400px;
}

#header_wrapper{
  height: 60px;
  margin: 0 auto;
  min-width: 400px;
  overflow: hidden;
  border-bottom:1px solid #e0e0e0;
  background: url('header-bg.png');
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}

#header{
  width:100%;
  margin:0 auto;
}

#header h1{
position: absolute;
font-size: 17px;
font-weight: normal;
left: 235px;
text-transform: uppercase;
border-left: 1px solid #e0e0e0;
display: block;
padding: 10px 0px 8px 10px;
top: 0px;
color: #999;
}

#content #left_menu_wrapper{
  float: left;
  min-height:600px;
  width: 199px;
  background-color: #E3E8EC;
  box-shadow: 0 0 1px #FFFFFF inset;
  -webkit-box-shadow: 0 0 1px #FFFFFF inset;
  -moz-box-shadow: 0 0 1px #FFFFFF inset;
}

#content.without_menu{
  width: 100% !important;
}

div.menu.full{
  width: 20%;
  float: left;
  position: relative;
  margin-left: 0px;
  border-right: 1px solid #eee;
  margin-left: -1px;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 99999;
  background: #fff;
  top: 0;
  padding-top: 59px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.menu.short{
  width:3.2%;
  float:left;
  position:relative;
  margin-left:0px;
  border-right:1px solid #eee;
  margin-left: -1px;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: #fff;
  top: 0;
  border-top: 1px solid #eee;
  padding-top: 59px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.menu.short ul li a{
  text-indent: -99999px;
}

div.menu.short .dropdown_main_menu_sublevel a{
  text-indent: 0px;
}

div.menu.short .dropdown_main_menu_sublevel{
position: absolute;
background: #fff;
border: 1px solid #eee;
width: 211px;
padding: 5px 15px 0px;
margin: 0px 0px 0px 100%;
box-shadow: 2px 0px 6px rgba(0,0,0,0.1);
}



ul.menu{
  margin:0;
  padding:0;
  margin:0 auto;
  display:block;
  width:100%;
  position:relative;
  float:left;
}

ul.menu li{
  display:block;
  float:left;
  width:100%;
  list-style:none;
  margin:11px 0px 0px 0px;
  padding:9px 0px 0px 0px;
  position:relative;
  border-top:1px solid #e1e1e1;
}

ul.menu li a{
  width: auto;
  padding: 6px 20px 7px 23px;
  margin-left:-10px;
  height:23px;
  float: left;
  text-decoration:none;
  color:#111;
  font-size:17px;
  background-position: 20px 13px;
  background-repeat: no-repeat;
  cursor:default;
}

ul.menu li.minify span{
  margin: 0 !important;
padding: 4px 0px 4px 38px;
min-width: 85%;
height: auto;
cursor: pointer;
z-index: 1000;
margin: 0;
font-size: 15px;
color: #666;
background-position: 19px 8px;
background-repeat: no-repeat;
cursor: pointer;
display: block;
}

.short ul.menu li.minify span{
  text-indent: -99999px !important;
}


ul.menu a.actived{
  color: #0088CC !important;
}

ul.menu a.actived:hover{
  color: #0088CC !important;
}

ul.menu li a:hover{
  color:#000 !important;
}

ul.menu .dropdown_main_menu{
  display:block;
  position:relative;
  float:left;
  min-width:100%;
  z-index:1000;
  margin:0;
  float:left;
  padding:4px 0px 10px 0px;
}

ul.menu .dropdown_main_menu li{
  float:left;
  height:auto;
  min-width:100%;
  margin:0;
  border:none;
  padding:0;
  min-height: 40px;
}

ul.menu .dropdown_main_menu li:hover{
  background: #efefef;
}

ul.menu .dropdown_main_menu li ul li:hover{
  background: none;
}


.menu.short ul.menu .dropdown_main_menu{
display: block;
width: 100% !important;
height: 28px;
position: relative;
content: '';
display: inline-block;
background-repeat: no-repeat;
}

.menu.short ul.menu .dropdown_main_menu li{
display: block;
width: 100% !important;
position: relative;
content: '';
display: inline-block;
background-repeat: no-repeat;
margin: 0 auto;
}

.menu ul.menu .dropdown_main_menu li.active:before{
  background-image: url(sprites-active.png) !important;
}


.menu.short ul.menu .dropdown_main_menu ul li{
display: block;
width: 100% !important;
position: relative;
content: '';
display: inline-block;
background-repeat: no-repeat;
margin: 0 auto;
border-bottom: 1px solid #eee;
min-height: 28px;
padding: 5px 0px;
}

.menu.short ul.menu .dropdown_main_menu ul h1{
  font-size: 16px;
  color: #222;
}

.menu.short ul.menu .dropdown_main_menu ul li:last-child{
  border: none;
}

.menu.short ul.menu .dropdown_main_menu li:before{
display: block;
position: relative;
content: '';
display: inline-block;
width: 18px;
height: 18px;
background-image: url(sprites.png);
background-repeat: no-repeat;
margin-left: 50%;
position: absolute;
clear: both;
left: -9px;
background-position: 0px 0px;
opacity: 0.8;
top: 12px;
}

.menu.short ul.menu .dropdown_main_menu li:before:hover:before{
  opacity: 1;
}

.menu.full ul.menu .dropdown_main_menu li:before{
display: block;
position: absolute !important;
content: '';
display: inline-block;
width: 18px;
height: 18px;
background-image: url(sprites.png);
background-repeat: no-repeat;
position: relative;
clear: both;
left: 14px;
background-position: 0px 0px;
opacity: 0.7;
top: 11px;
}

.menu ul.menu .dropdown_main_menu li.blog:before{
  background-position: 0 -736px;
}
.menu ul.menu .dropdown_main_menu li.administracao:before{
background-position: -389px -256px;
}
.menu ul.menu .dropdown_main_menu li.blacklist:before{
background-position: -323px -480px;
}
.menu ul.menu .dropdown_main_menu li.listagens:before{
background-position: -163px -352px;
}
.menu ul.menu .dropdown_main_menu li.gestao-risco:before{
background-position: -130px -320px;
}
.menu ul.menu .dropdown_main_menu li.gestao-tokens:before{
background-position: -227px -256px;
}

.menu ul.menu .dropdown_main_menu li.minify{
opacity: 0.4;
margin-top: 0px;
border-top: 1px dashed #ccc;
padding-top: 10px;
}

.menu.full ul.menu .dropdown_main_menu li.minify:before{
background-position: -195px -608px;
top: 18px;
}

.menu.short ul.menu .dropdown_main_menu li.minify:before{
background-position: -66px -608px;
top: 18px;
}


.menu.short ul.menu .dropdown_main_menu li a{
  background: none;
  padding: 0;
}

.menu.short ul.menu .dropdown_main_menu li ul li:before,.menu.full ul.menu .dropdown_main_menu li ul li:before{
display: none
}

ul.menu .dropdown_main_menu li a{
  margin:0 !important;
  padding:8px 0px 0px 38px;
  min-width:85%;
  height:auto;
  cursor:pointer;
  z-index:1000;
  margin:0;
  font-size:15px;
  color:#666;
  background-position: 19px 8px;
  background-repeat: no-repeat;
  cursor:pointer;
}

ul.menu .dropdown_main_menu li a.sublevel{}

ul.menu .dropdown_main_menu_sublevel{
  display:block;
  position:relative;
  float:left;
  min-width:100%;
  z-index:1000;
  margin:0;
  padding:4px 0px 10px 0px;
}

ul.menu .dropdown_main_menu_sublevel li{
float: left;
height: auto;
min-width: 100%;
margin: 0;
border: none;
min-height: 26px;
margin-top: 5px;
}

ul.menu .dropdown_main_menu_sublevel li a{
  margin:0 !important;
  padding:2px 0px 2px 38px;
  min-width:100%;
  height:auto;
  cursor:pointer;
  z-index:10;
  margin:0;
  font-size:13px;
  color:#999;
  background:none;
  background-position:27px 6px;
  background-repeat:no-repeat;
}

#content{
  width: 77%;
  position:relative;
  float:left;
  background-color: #fff;
  min-height:600px;
  padding-left:22%;
}

#content.menu-opened{
width: 93%;
position: relative;
float: left;
background-color: #fff;
min-height: 600px;
padding-left: 5.2%;
}

#main_column_wrapper{
  padding-top:20px;
  width:100%;
}

#main_column{
  padding: 20px 1%;
  padding-top: 0px;
  padding-right:0;
  padding-left:0;
  width:100%;
}

#main_column a{text-decoration: none;}
#main_column a:hover{text-decoration: underline;}


h1.title{
  background: url("title_bg.png") repeat scroll 0 0 transparent;
  float: left;
  display:block;
  height: 26px;
  width:100%;
  margin:0px 0px 20px -20px;
  padding:10px 0px 0px 20px;
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  color:#142e53;
  z-index:1;
  display:none !important;
}

.logo_intranet{
  float: left;
  height: 60px;
  width: 260px;
  margin-left: 15px;
  margin-top: 10px;
}

.logo_intranet a{
  cursor:pointer;
  width:100%;
  height:100%;
  display:block;
  font-size: 30px;
  margin-top: 7px;
}

#main_login{min-height: 100%;}

#login{
  width: 320px;
  position: relative;
  left: 28%;
  margin-left: -160px;
  margin-top: 100px;
}

#login_wrapper{
  height: 100%;
  min-width: 1010px;
}

#login_content{
  height: 580px;
  margin-bottom: -45px;
  min-height: 100%;
}

#login_content #main_column_wrapper{
  height: 500px;
}

#footer_wrapper{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height:auto;
  background:#4977AD;
  float: left;
  height: 450px;
  position: relative;
  clear: both;
  display: block;
}

#footer{
  background: none repeat scroll 0 0 #4B80C1;
  height: 45px;
  position: absolute;
  width: 100%;
}

#footer_title{
  background: url("footer_title.png") no-repeat scroll 0 0 transparent;
  height: 15px;
  margin: 18px auto 0;
  width: 329px;
}

#footer_logo{
  background: url("footer_logo.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 45px;
  width: 48px;
  margin-top: -33px;
}

#footer_wrapper_app{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height:auto;
  float: left;
  position: relative;
  clear: both;
  display: block;
  margin-top: -46px;
}

#footer_title_app{
  height: 15px;
  margin: 18px auto 0;
  width: 329px;
}
#footer_logo_app{
  float: right;
  height: 45px;
  width: 48px;
  margin-top: -33px;
}

.clearfix {
  clear: both;
  display: block;
  padding-bottom: 30px;
}

.action_back a{
  min-width: 54px;
  text-decoration: none !important;
  background: url('voltar.png') 42px -38px;
  right:0%;
  top:25px;
  position:absolute;
  display: inline-block;
  font-weight: 300;
  height: 23px;
  text-align: center;
  border: 1px solid #2a6198;
  color: #fff !important;
  font-size:14px !important;
  padding:3px 5px 0px 22px;
  border-radius: 2px;
}

.action_back a:hover{
  background: url('voltar.png') 42px -4px;
  cursor:pointer !important;
}

.actions a{
  right:1%;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 23px;
  text-align: center;
  background: url('novo.png') 41px -38px;
  border: 1px solid #2a6198;
  color: #fff !important;
  font-size:12px !important;
  cursor:pointer;
  font-size:13px;
  padding:3px 10px 0px 30px
}

.actions a:hover{
  background: url('novo.png') 41px -4px;
  cursor:pointer !important;
  text-decoration:none !important;
}

.table{
  border-collapse: collapse;
  border-spacing:0px;
  z-index:1;
  width:100%;
  float:left;
  margin-top:6px;
}

thead{
  height:30px;
  border:1px solid #002c4a;
  border-bottom:0px;
}

thead th{
  margin-bottom:1px;
  z-index:1;
  padding: 0px 0px 0px 20px;
  font-weight:normal;
}

thead th.buttons{
  width: 200px;
  background:none;
}

thead tr{
  height:36px;
  background:#004161;
  color:#fff;
  text-align:left;
}

thead tr:hover{
  cursor:default;
}

tr.more-click td{
  padding:10px 10px;
  margin:0;
}

.first-th{
  padding-left:35px;
}

tr.more-click{
  margin-top:1px;
  border:1px solid #e3e9ec;
  color:#000;
}

tr.more-click .td-editar{
  border-right:none;
}

tr.more-click .td-apagar{
  border-right:none;
}

tbody tr.more-click.even{
  background:#f2f7fa;
}

.apagar{
  color:#d63e30 !important;
  display:block;
  font-size:11px;
  padding:2px 6px 0px 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  text-align:center;
  border-right:none;
}

.apagar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

a.action.editar, a.action.apagar{
  float: right;
}

.editar{
  color:#2e77ec !important;
  display:block;
  font-size:11px;
  padding:2px 6px 0px 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  text-align:center;
}

.editar:hover{
  background:#2e77ec;
  color:#fff !important;
  text-decoration:none !important;
}

.visualizar{
  background:#ef6357;
  color:#fff !important;
  display:block;
  font-size:11px;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.visualizar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

.more-info{
  position:relative;
  width:960px;
  background:#fefefe;
  bottom:0;
  margin-top:30px;
}

.more-info td{
  width:100%;
}

.more-info div{
  position:relative;
  display:none;
  border-bottom: 1px solid #e3e9ec;
}

.more-info p{
  position:relative;
}

.more-click{
  height:50px;
  width:960px;
  bottom:0;
}

.filter_bar{
  float: right;
}

.field label{
  display: inline;
  float: left;
  font-weight: bold;
  line-height: 28px;
  overflow: hidden;
  padding: 0 20px 0 0;
  text-align: right;
  width: 200px;
  font-size:12px;
}

.field .value{
  line-height: 28px;
}

.field .help{
  padding: 0 0 0 70px;
}

.field{
  width: 100%;
  display: inline;
  float: left;
}

.field ul{
  float:left;
  padding: 0px;
}

.gray_border{
  border-bottom: 1px solid #ccc;
  margin: 0px 0px;
  width: 100%;
  float: left;
}

.gray_border.with_margin_bottom{
  margin-bottom: 20px;
}

.gray_border h2{
  font-weight: bold;
  line-height: 140%;
  margin: 0px;
  margin-left:0px;
  font-size:18px;
  padding-bottom:5px;
}
.gray_border h1{
font-weight: bold;
line-height: 140%;
margin: 0px;
margin-left: 0px;
font-size: 24px;
margin-bottom: 8px;
}


input[type="checkbox"]{
  width: auto !important;
  margin-right: 10px !important;
  padding: 0px !important;
  height: auto !important;
}

select {
  margin-top: 5px;
  margin-bottom:10px;
}

.fields{
  background-color: #f9f9f9;
  float: left;
  width: 97%;
  margin: 0px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}

.fields .field{
  margin-left: 20px;
}

.fields a{
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0;
}

.checkbox_fields{
  margin: 20px 0px;
  float: left;
  width: 100%;
}


fieldset{border: medium none;}

.field fieldset{
  border: 0px solid #CCCCCC !important;
  margin: 10px 0px !important;
  padding: 0px !important;
  width: auto !important;
}

input{
  margin-bottom:10px;
}

#success_message{
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #649145;
  background-image: -moz-linear-gradient(center top , #7AAB47 0pt, #649145 100%);
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  height: 43px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  text-shadow: 0 0 0 transparent, 0 0 2px rgba(0, 0, 0, 0.3);
  top: 0;
  width: 1000px;
  display:none;
  margin-left: -20px;
  z-index: 1000;
}

#success_message h4{
  margin-top: 10px;
}

.hidden{
  display: none;
}

#error_explanation{
  background-color: #9B281E;
  background-image: -moz-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -webkit-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -ms-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -o-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 0 0 0 transparent, 0 0 2px rgba(0, 0, 0, 0.3);
  width: 550px;
  margin: 10px 0px;
  float: left;
}

h2.title{
  position:relative;
  float: left;
  display:inline;
  height: 55px;
  width:auto;
  margin:2px 0px 0px 0px;
  padding:10px 0px 0px 20px;
  font-size:20px;
  font-weight:normal;
  text-transform:uppercase;
  color:#142e53;
  line-height:24px;
}

.pagination {
  background: white;
  cursor: default;
  text-align:center;
  margin-top:26px;
  margin-left:-2px;
}

.pagination a, .pagination em {
  padding: 5px 10px 4px 10px;
  display: block;
  float: left;
  margin-right: 8px;
  background:#fff;
  color: #333;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9aafe5;
}

.pagination .disabled {
  color: #999999;
  border: 1px solid #d0d0d0;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #5F98F1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination a {
  text-decoration: none;
  color: #333;
  border: 1px solid #9aafe5;
}

.pagination a:hover, .pagination a:focus {
  color:#105cb6 !important;
  text-decoration:none !important;
}

.previous_page{
  padding: 5px 16px 4px 16px;
  display: block;
  float: left;
  margin-right: 6px;
  background:#fff;
  color: #333;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9aafe5;
}

.next_page{
  padding: 5px 16px 4px 16px;
  display: block;
  float: left;
  margin-right: 6px;
  background:#fff;
  color: #333;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9aafe5;
}

#form_login{
  background: none repeat scroll 0 0 #FBFBFB;
  border: 1px solid #E5E5E5;
  font-weight: normal;
  height: 160px;
  margin-left: 8px;
  padding: 26px 24px 46px;
}

#form_login label{
  width: 200px;
  float: left;
  margin-left: 10px;
  font-size:17px;
}

#user_remember_me_input label{
  margin-left: 0px;
}

#form_login .login_submit{
  float: right;
}

#form_login input{
  width: 235px;
  padding:4px 5px 5px 5px;
  height:16px;
  color: #333333;
  margin:5px;
  outline:none;
  height:28px;
  border: 1px solid #c8c8c8;
  padding:0px 7px 0px 7px;
  color:#555;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  background:#fff;
}

#form_login button{
  margin:5px;
  border: 1px solid #c8c8c8;
  padding:1px 16px 5px 16px;
  height:30px;
  background:url(bg_button.png);
  color:#333;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float:left;
}

li.sign_in{
  float:right !important;
  position:relative;
  border-left:1px solid #E5E5E5 !important;
  right:-1px;
}

.email_error{
  color:red;
  margin-left: 330px;
}

.up-not{
  background: url(up-not.png) !important;
  display: block;
  width: 300px;
  height: 19px;
  position: relative;
  right: -13px;
  margin-top: 24px;
}

#sortable{
  width: 95%;
  padding-left: 0px;
}

.sorting { background: url('sort_both.png') no-repeat center left; }
.sorting_asc { background: url('sort_asc.png') no-repeat center left; }
.sorting_desc { background: url('sort_desc.png') no-repeat center left; }

.sorting_asc_disabled { background: url('sort_asc_disabled.png') no-repeat center left; }
.sorting_desc_disabled { background: url('sort_desc_disabled.png') no-repeat center left; }

#sortable > li > a {
  float: right;
  padding-right: 10px;
}

#sortable > .ui-state-default{
  border: 0px;
  border-bottom: 1px solid lightGrey;
  background: transparent;
}

.inline-errors{
  display:inline;
  color:#CB3425;
}

.fragments-group label{
 width: auto;
 margin-left: 20px;
}

.fragments-group .fragment{float: left;}

.choices-group input[type="radio"]{float: left;}

.inline-hints{
  float: right;
  font-style: italic;
  margin-right: 94px;
  margin-top: 0;
}

.action_link_without_icon{
  background: url("novo.png") repeat scroll left -34px transparent !important;
  border-right: 0 solid #CCCCCC !important;
  padding-right: 22px;
}

a.confirm, a.cancel{
  color: white !important;
  opacity: 0.8;
  width: 50%;
  position: relative;
}

a.confirm{
  background-color: #00CC00;
  float: right;
}

a.cancel{
  background-color: #FF0000;
  float: left;
}

.confirm span, .cancel span{
  display: block;
  font-size: 10px;
  font-weight: bold;
  margin: 0 auto;
  opacity: 1;
  padding: 5px;
  text-align: center;
  z-index: 100;
}

.item{
  float: left;
  width: 100%;
  margin-top: 10px;
}


.right_menu{
position: fixed;
right: 0px;
top: 20px;
color: #000 !important;
width: 500px;
z-index: 999999999;
float: right;
margin-bottom: -25px;
}

.right_menu #account_id{
  float: right;
  margin-right: 20px;
  margin-top: -5px;
}

.right_menu a{
  color:#000 !important;
}

.salute{
  float: right;
  margin-right: 50px;
  width: 380px;
}


.salute .email{
  float: right;
}

.salute figure{
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -13px;
  margin-bottom: 0;
  border-radius: 45px;
  overflow: hidden;
  height: 45px;
  width: 45px;
  border: 1px solid #e2e2e2;
  background: #fff;
}

.salute img{
  height: 100%;
}

.salute img.default{
  margin-top: 3px;
  opacity: 0.7;
}

.salute img.custom{
}


.salute span{
  position:relative;
  display:block;
  height:23px;
  float: left;
  text-decoration:none;
  font-weight: bold;
  margin-right: 5px;
}

.salute a{
  position:relative;
  display: block;
  float: right;
  margin-right: 0;
}

.salute a:hover{background-color: transparent !important;}

#content_wrapper{
  margin: -61px auto 0;
  padding: 61px 0 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0px;
}

.right_menu .sign_out{
  float: right;
  margin-right: 10px;
}


#login input[type='submit']{width: 250px;}
div.text textarea{width: 350px;}
span.error{color: #CB3425; margin-left: 10px;}

#change_password{float: left;}
a.back_link{float: right;}
label.radio{width: auto;}


/********************************DTGRID*********************************/

div .dt-grid-1{
  width:16%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

div .dt-grid-2{
  width:32.6%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

div .dt-grid-3{
  width:49.2%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

div .dt-grid-4{
  width:65.8%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

div .dt-grid-5{
  width:82.4%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

div .dt-grid-6{
  width:99%;
  min-height:100px;
  background:#eee;
  position:relative;
  float:left;
  margin-right:0.2%;
  margin-left:0.4%;
}

.comments{
  float:left;
  width:100%;
}

.comment{
  padding: 10px;
}

.comment-admin-user{
  font-weight: bold;
}

.package_error_messages, .activation_error_messages{
  width: 250px;
  font-size: 12px;
}

.safe-guard-link{
  min-width: 54px;
  text-decoration: none !important;
  background: #2a6198;
  display: inline-block;
  height: 23px;
  text-align: center;
  border: 1px solid #2a6198;
  color: #fff !important;
  font-size: 14px !important;
  padding: 3px 20px 0px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.safe-guard-link:hover{
  font-weight: bold;
}
.pdf-links{
  display:none;
}

.activation_terms{
  height: 200px;
  overflow-y: scroll;
}

ul.scopes{
  float: left;
  padding: 0;
  margin: 2px;
}

li.scope{
  float: left;
  padding: 0px;
}
.table-tools div.actions{
  float: right;
  margin: 2px;
  z-index: 3;
  position: relative;
}

.table-tools a.actions{
  right:1%;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 21px;
  text-align: center;
  background: url('novo.png') 41px -38px;
  border: 1px solid #2a6198;
  color: #fff !important;
  font-size:12px !important;
  cursor:pointer;
  font-size:13px;
  padding:6px 10px 0px 30px;
  position: relative;
  top: 2px;
}

.table-tools a.actions:hover{
  background: url('novo.png') 41px -4px;
  cursor:pointer !important;
  text-decoration:none !important;
}

.table-tools a.filters{
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, #fff, #e7e7e7);
  background: -moz-linear-gradient(-90deg, #fff, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 1px 0 0 rgba(255,255,255,0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
  background: white;
  background: -webkit-linear-gradient(-90deg, #fff, #f0f0f0);
  background: -moz-linear-gradient(-90deg, #fff, #f0f0f0);
  background: linear, -90deg, white, #f0f0f0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF0F0F0');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF0F0F0');
  border-color: #d0d0d0;
  border-top-color: #d9d9d9;
  border-right-color: #d0d0d0;
  border-bottom-color: #c5c5c5;
  border-left-color: #d0d0d0;
  font-size: 0.9em;
  text-decoration: none;
  padding: 6px 14px;
  position: relative;
  -webkit-transition: all 0.08s ease-in;
}

.table-tools li.selected a {
  background: #f0f0f0;
  background: -webkit-linear-gradient(-90deg, #f0f0f0, #fdfdfd);
  background: -moz-linear-gradient(-90deg, #f0f0f0, #fdfdfd);
  background: linear, -90deg, #f0f0f0, #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F0F0', endColorstr='#FFFDFDFD');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F0F0', endColorstr='#FFFDFDFD');
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
  cursor: default;
}

.table-tools a {
  border-radius: 0px;
  line-height: 14px;
  cursor:pointer;
  text-decoration: none !important;
  z-index: 999;
}

.table-tools li a:hover {
  text-decoration: none !important;
}

.table-tools li a .count{
  font-size: 0.85em;
}

#filtro_tempo{
  float: right;
  margin: 2px;
}

#filtro_tempo #container_tempo{
  display: none;
  text-align: left;
  z-index: 99;
  position: absolute;
  background: #fff;
  border: 1px solid #c0c0c0;
  margin-left: -210px;
  width: 295px;
}

#filtro_tempo a{
  height: 13px;
}

#filtro_tempo #container_tempo .field{
  float: left;
  width: 44%;
}
#filtro_tempo #container_tempo input{
  width: 104px;
  padding: 4px 2px !important;
  margin-left: 10px;
}

#filtro_tempo #container_tempo #search_button_range{
  background-image: url('search-button.png');
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  border: none;
  box-shadow: none;
}

#container_tempo span{
  float: left;
  margin: 5px;
  margin-bottom: 0;
}

#container_tempo ul.atalhos{
  float: left;
  padding: 0;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
}

.table-tools{
  width: 99%;
  height:35px;
}

.table-download-links{
  position: relative;
  float: left;
  width: 273px;
  margin-top: -75px;
}

.table-download-links a{
  margin:3px;
  padding:3px 8px 5px 8px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  background: url('novo.png') left bottom;
  border: 1px solid
  #ccc;
  font-size:13px;
  box-shadow: 0 -1px 0px 0 #fff;
  cursor:pointer;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  color:#333 !important;
  font-weight:normal;
  line-height: 22px;
}
.table-download-links a:hover{
  background: url('novo.png') left top;
  color: #fff !important;
  font-size:13px;
  color:#fff !important;
  cursor:pointer !important;
    border:1px solid #2A6198;
}

.period-selector{
  float: left;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  height:22px;
}


li.period-selector:nth-child(odd){
  border-right: 1px solid #c0c0c0;
}

.period-selector a{
  margin: 0 !important;
  height: auto;
  cursor: pointer;
  z-index: 10;
  margin: 0;
  font-size: 14px;
  color: #0088CC !important;
  font-weight: 600;
  border: none;
  background: none;
  box-shadow: none;
}

#container_tempo .field label{
  width: 80px;
  float: none;
  margin-left: 10px;
}

#container_tempo .action{
  float: left;
  margin-top: 30px;
  width: 12%;
}

#container_tempo .custom{
  background-color: #efefef;
  width: 100%;
  height: 64px;
  float: left;
}

.datepicker {
  background-image: url('cal.png');
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: 3px;
}

#tabs{
  border: none;
  background: none;
  font-family: 'Raleway', sans-serif;
}

#tabs ul{
  border: none;
  background: none;
  font-weight: normal;
}

#tabs select{
  font-family: 'Raleway', sans-serif;
}

table input{
  width: 200px;
  outline: none;
  height: 21px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding: 2px 6px 2px 6px;
  color: #555;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  font-family: 'Raleway', sans-serif;
}

.diagnostic-report-info{
  float: left;
  width: 33%;
}

.diagnostic-step-true{
  color: green;
}

.diagnostic-step-false{
  color: red;
}

.advanced_search{
  /* width: 383px; */
  /* position: absolute; */
  /* background: #fff; */
  /* margin-top: 0px; */
  /* z-index:10; */
  float: left;
}

.advanced_search .toggler{
  margin-left: 253px;
  margin-top: 2px;
  width:130px;
}

.advanced_search #advanced_search_form{
  display:none;
  border: 1px solid #c0c0c0;
  padding: 20px;
  margin-top: -9px;
  float: left;
  width: 383px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0px;
  position: absolute;
  z-index: 99999;
  background-color: #fff;
}

.advanced_search li.search_item{
  line-height: 30px;
}
.advanced_search li.search_item:last-child{
  clear: both;
}
.advanced_search .search_field .label{
  width: 30%;
  float: left;
}
.advanced_search .search_field .field{
  width: 70%;
  float: left;
}

.advanced_search .search_field .field input{
  border:1px solid #dfe4e7;
  padding:4px;
  background:none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding:5px 6px;
  width:225px;
  border-top:1px solid #ccc;
}


.advanced_search input[type=text].datepicker{
  width: 104px;
  padding: 4px 2px !important;
}

.advanced_search .search_item .action{
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.advanced_search .search_item .action a{
  margin: 0 !important;
  height: auto;
  cursor: pointer;
  z-index: 10;
  margin: 0;
  font-size: 14px;
  color: #0088CC !important;
  font-weight: 600;
  border: none;
  background: none;
  box-shadow: none;
}

.advanced_search .search_item .action a:hover{
  cursor: pointer;
  text-decoration: none !important;
}

.advanced_search .chosen-container{
  width: 168px !important;
}

.status_tag{
  width: 30px;
  text-align:center;
  float:left;
}
.status_tag.n0 {
    background: #00CC00;
}

.status_tag.n1 {
    background: #99FF00;
    color: black;
}

.status_tag.n2 {
    background: #FFFF00;
    color: black;
}

.status_tag.n3 {
    background: #FFFF00;
    color: black;
}

.status_tag.n4 {
    background: #FFCC00;
}

.status_tag.n5 {
    background: #FFCC00;
}

.status_tag.n6 {
    background: #FF9900;
}

.status_tag.n7 {
    background: #FF9900;
}

.status_tag.n8 {
    background: #FF6600;
}

.status_tag.n9 {
    background: #FF6600;
}

.status_tag.n10 {
    background: #FF6600;
}

.status_tag.n11 {
    background: #FF3300;
}

.status_tag.n12 {
    background: #FF3300;
}

.status_tag.n13 {
    background: #FF3300;
}

.status_tag.n14 {
    background: #CC0000;
}

.status_tag.n15 {
    background: #CC0000;
}

.status_tag.n16 {
    background: #CC0000;
}

.status_tag.n17 {
    background: #FF0000;
}

.status_tag.n18 {
    background: #FF0000;
}

.field .suspect_rules{
  float:left;
}

.button_hidden{
  display:none;
}

.hardware_token_history li{
  border-bottom: 1px solid #ccc
}

.user-details-contexts{
  float:left;
}

.user-details-contexts ul{
  padding: 0px;
}

#mark_as_fraudulent_form label{
  float: none;
}
#mark_as_fraudulent_data_form{
  position: relative;
  float: left;
  height: 250px;
  overflow: auto;
}

.cke_editor_post_body{
  float: left;
  margin-bottom: 10px !important;
}

.chosen-container{
  margin-bottom: 10px;
}


/* blog */
#container {
  margin: 130px auto;
  width: 980px;
}

#primary {
  float: left;
  width: 720px;
}

.blog{
  width: 75%;
}

.blog article{
  background: #fff;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
  box-shadow: 0 1px 5px rgba(0,0,0,.6);
  line-height: 1.5;
  margin: 0 0 40px 0;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  _border: 1px solid #686868;
}

.blog article .entry-header .entry-meta {
  margin: 0 0 0px 0;
  background: #caced3;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cfd2d7), to(#a3a8af));
  background: -moz-linear-gradient(center bottom, #a3a8af, #cfd2d7);
  padding: 8px 12px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-top: 1px solid #dcdfe3;
  border-bottom: 1px solid #848d96;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.blog article .entry-title {
  margin: 0 auto;
  text-align: center;
}

.blog article .post-actions{
  float: right;
}

.blog article .entry-body {
  padding: 30px 30px 10px 30px;
}

.blog article footer.entry-meta {
  padding: 15px 0px 15px 0px;
  background: transparent url(tiny_dots.png) top left repeat-x;
  margin: 0 30px;
}

.blog article footer .cat-links {
  color: #111;
  font-size: 13px;
  width: 780px;
  margin-bottom: 15px;
  display: block;
}

.blog li{
  list-style: initial;
}

.primary .sidebar {
  margin-left: 40px;
  float: right;
  width: 260px;
  position: fixed;
  top: 85px;
  right: 5px;
}

.sidebar .actions{
  margin-bottom: 20px;
  height: 30px;
}

.sidebar .actions a{
  position: relative;
  float: left;
  top: 0px;
  right: 0px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 3px 5px 0px 30px;
}

.sidebar a.wo-icon{
  padding: 3px 5px 0px 5px;
  background: url('novo.png') 0px -38px;
}

.sidebar li{
  list-style: initial;
}

/* Blog */

/* Notification */
.notifications_container{
  position: absolute;
  top: 1px;
  right: 47px;
}

.notifications_counter{
  padding: 5px 10px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.notifications_container .circle {
  float: right;
}

.notifications_list{
  max-height: 400px;
  overflow: hidden;
  width: 313px;
  margin-right: -13px;
  position: relative;
}

.notifications_list ul{
  background-color: #e6e6e6;
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.notifications_list li{
  width: 300px;
  border-bottom: 1px solid #a9a9a9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -40px;
}

.notifications_list li.unread, .notifications_list li.unread .message a{
  background-color: #014f95;
  color: white !important;
}

.view-all{
  border: 0px;
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e6e6e6;
  margin-left: 13px;
}

.notifications_counter.unread{
  background-color: #014f95;
  color: white !important;
  font-weight: bold;
}

.notification-content{
  display:none;
  margin-right: -13px;
}

/* Notification */

/* Special Scopes */
.special-scope #ss-descritpion{
  font-family: 'OpenSansBold';
  font-size:15px;
}

.special-scope #ss-normal{
  font-size:12px;
}
/* Special Scopes */

/*Batch Operation*/
.batch_operation_item_selected{
  background-color: #E3E9F4 !important;
}
/*Batch Operation*/

.wrapper_show label{
  float: left;
  font-weight: bolder;
  margin-right: 10px;
}

.show-content{
  padding-left: 15px;
  padding-right: 15px;
}
